.root {
  padding-top: 10px;
}
.logo {
  border-radius: 5px;
  background-color: rgba(131, 117, 117, 0.8);
  padding: 3px;
  display: flex;
  height: auto;
  max-height: 50px;
  max-width: 100px;
}
.info {
  padding: 0px;
}
.data {
  margin: 0px;
  padding-right: 5px;
  text-align: start;
}
.description {
  font-size: 10px;
}
.logodiv {
  margin: 0px;
  padding: 0px;
}
